<a href="https://colab.research.google.com/github/Batman2002/boilerplate-demographic-data-analyzer-2/blob/main/boilerplate_medical_data_visualizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("medical_examination.csv",index_col="id")
df2=pd.read_csv("medical_examination.csv")
df3=pd.read_csv("medical_examination.csv",index_col="id")
df4=pd.read_csv("medical_examination.csv",index_col="id")
# df3.loc[df["cholesterol"]==1]=0
# df3.loc[df["cholesterol"]>1]=1
df["overweight"]=(df["weight"]/((df["height"]/100)**2))
df.loc[df["overweight"]<=25]=0
df.loc[df["overweight"]>25]=1
# df2["overweight"]=df["overweight"]
df2["cholesterol"]=0
df2["cholesterol"]=df3["cholesterol"]
# df_cat=df2.melt(id_vars=["id"],value_vars=["cholesterol","gluc","smoke","alco","active","overweight"])
# df_cat
df2

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393.0,2.0,168.0,62.0,110.0,80.0,1.0,1.0,0.0,0.0,1.0,0.0
1,1,20228.0,1.0,156.0,85.0,140.0,90.0,3.0,1.0,0.0,0.0,1.0,1.0
2,2,18857.0,1.0,165.0,64.0,130.0,70.0,3.0,1.0,0.0,0.0,0.0,1.0
3,3,17623.0,2.0,169.0,82.0,150.0,100.0,1.0,1.0,0.0,0.0,1.0,1.0
4,4,17474.0,1.0,156.0,56.0,100.0,60.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49957,71304,21323.0,1.0,158.0,78.0,140.0,90.0,1.0,1.0,0.0,0.0,1.0,0.0
49958,71308,16127.0,2.0,168.0,72.0,120.0,80.0,NaN,2.0,1.0,0.0,1.0,0.0
49959,71309,17579.0,1.0,163.0,45.0,120.0,80.0,2.0,1.0,0.0,0.0,1.0,0.0
49960,71310,19808.0,1.0,152.0,78.0,150.0,90.0,NaN,1.0,0.0,0.0,0.0,1.0
49961,7,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [91]:
df=pd.read_csv("medical_examination.csv")
df2=pd.read_csv("medical_examination.csv")
df3=pd.read_csv("medical_examination.csv")
df4=pd.read_csv("medical_examination.csv")
df3.loc[df3["cholesterol"]==1]=0
df3.loc[df3["cholesterol"]>1]=1
df4.loc[df4["gluc"]==1]=0
df4.loc[df4["gluc"]>1]=1
df["overweight"]=(df["weight"]/((df["height"]/100)**2))
df.loc[df["overweight"]<=25]=0
df.loc[df["overweight"]>25]=1
df2["overweight"]=df["overweight"]
# df2["cholesterol"]=0
df2["cholesterol"]=df3["cholesterol"]
df2["gluc"]=df4["gluc"]
df_cat=df2.melt(id_vars=["cardio"],value_vars=["cholesterol","gluc","smoke","alco","active","overweight"],var_name="cute")
df_cat["total"]=df_cat["value"]
df_cat=df_cat.groupby(["cardio","cute","value"]).count()
# df_cat=df_cat["cardio"]=0
# df_cat=df_cat.unstack(level=0)
# df2
df_cat
# data1=sns.load_dataset("df_cat")
# plt.subplot(1,2,1)
# ax=sns.countplot(x="cute",hue="cardio",data=df_cat)
# df_cat=df_cat.to_numpy()
# g=sns.catplot(data=df_cat,y="cute",kind="count")

                          total
cardio cute        value
0      active      0.0     6378
                   1.0    28643
       alco        0.0    33080
                   1.0     1941
       cholesterol 0.0    29330
                   1.0     5691
       gluc        0.0    30894
                   1.0     4127
       overweight  0.0    15915
                   1.0    19106
       smoke       0.0    31781
                   1.0     3240
1      active      0.0     7361
                   1.0    27618
       alco        0.0    33156
                   1.0     1823
       cholesterol 0.0    23055
                   1.0    11924
       gluc        0.0    28585
                   1.0     6394
       overweight  0.0    10539
                   1.0    24440
       smoke       0.0    32050
                   1.0     2929