<a href="https://colab.research.google.com/github/Batman2002/boilerplate-demographic-data-analyzer-2/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np


df =pd.read_csv("adult.data.csv")
# df.groupby("sex").mean()
# df.count(numeric_only=True)
# index=np.arrange(1,32562)/
df["index"]=1
df=df.filter(items=["race","index"])
df=df.groupby("race").sum()
df
# df.to_dict()
# df.value_counts()
# df.to_dict()
# df
# df[df.duplicated()]

                    index
race
Amer-Indian-Eskimo    311
Asian-Pac-Islander   1039
Black                3124
Other                 271
White               27816

In [37]:
df=pd.read_csv("adult.data.csv")
# size=len((df))
print(size)
df["index"]=1
df=df.filter(items=["education","index"])
df=df.groupby("education").sum()
# df
# df=df.to_dict()
# df
# (df["index"]["Bachelors"]/size)*100

32561

              index
education
10th            933
11th           1175
12th            433
1st-4th         168
5th-6th         333
7th-8th         646
9th             514
Assoc-acdm     1067
Assoc-voc      1382
Bachelors      5355
Doctorate       413
HS-grad       10501
Masters        1723
Preschool        51
Prof-school     576
Some-college   7291

In [135]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df["index"]=1
df=df.filter(items=["salary","education","index"])
df=df.groupby("education").sum()
size2=df["index"]["Bachelors"] + df["index"]["Masters"] + df["index"]["Doctorate"]
df2["index"]=1
df2=df2.filter(items=["salary","education","index"])
df2=df2.drop(index="<=50K")
df2=df2.groupby("education").sum()
print(size2)
print(df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])
print(((df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])/size2)*100)
# df.to_dict()
# df
df2

7491
3486
46.535843011613935

              index
education
10th             62
11th             60
12th             33
1st-4th           6
5th-6th          16
7th-8th          40
9th              27
Assoc-acdm      265
Assoc-voc       361
Bachelors      2221
Doctorate       306
HS-grad        1675
Masters         959
Prof-school     423
Some-college   1387

In [158]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df=df.filter(items=["native-country","salary"])
df2=df2.filter(items=["native-country"])
df["index"]=1
df2["index"]=1
df=df.drop(index="<=50K")
df=df.groupby("native-country").sum()
df2=df2.groupby("native-country").sum()
df
df2

                    index
native-country
?                     146
Cambodia                7
Canada                 39
China                  20
Columbia                2
Cuba                   25
Dominican-Republic      2
Ecuador                 4
El-Salvador             9
England                30
France                 12
Germany                44
Greece                  8
Guatemala               3
Haiti                   4
Honduras                1
Hong                    6
Hungary                 3
India                  40
Iran                   18
Ireland                 5
Italy                  25
Jamaica                10
Japan                  24
Laos                    2
Mexico                 33
Nicaragua               2
Peru                    2
Philippines            61
Poland                 12
Portugal                4
Puerto-Rico            12
Scotland                3
South                  16
Taiwan                 20
Thailand                3
Trinadad&Tobago         2
United-States        7171
Vietnam                 5
Yugoslavia              6