<a href="https://colab.research.google.com/github/Batman2002/boilerplate-demographic-data-analyzer-2/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [167]:
import pandas as pd
import numpy as np


df =pd.read_csv("adult.data.csv")
# df.groupby("sex").mean()
# df.count(numeric_only=True)
# index=np.arrange(1,32562)/
df["index"]=1
df=df.filter(items=["race","index"])
df=df.groupby("race").sum()
df
df=df.to_dict()
arr=[]
for i in df.values():
  for j in i.values():
    arr.append(j)
arr2=np.array(arr)
arr2
# print(race_count)
# df
# df.value_counts()
# df.to_dict()
# df
# df[df.duplicated()]

array([  311,  1039,  3124,   271, 27816])

In [7]:
df=pd.read_csv("adult.data.csv")
# size=len((df))
# print(size)
df["index"]=1
df=df.filter(items=["education","index"])
df=df.groupby("education").sum()
# df
# df=df.to_dict()
# df
# (df["index"]["Bachelors"]/size)*100

32561

In [ ]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df["index"]=1
df=df.filter(items=["salary","education","index"])
df=df.groupby("education").sum()
size2=df["index"]["Bachelors"] + df["index"]["Masters"] + df["index"]["Doctorate"]
df2["index"]=1
df2=df2.filter(items=["salary","education","index"])
df2=df2.drop(index="<=50K")
df2=df2.groupby("education").sum()
print(size2)
print(df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])
print(((df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])/size2)*100)
# df.to_dict()
# df
df2

7491
3486
46.535843011613935

              index
education
10th             62
11th             60
12th             33
1st-4th           6
5th-6th          16
7th-8th          40
9th              27
Assoc-acdm      265
Assoc-voc       361
Bachelors      2221
Doctorate       306
HS-grad        1675
Masters         959
Prof-school     423
Some-college   1387

In [196]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df=df.filter(items=["native-country","salary"])
df2=df2.filter(items=["native-country"])
df["index"]=1
df2["index"]=1
df=df.drop(index="<=50K")
df=df.groupby("native-country").sum()
df2=df2.groupby("native-country").sum()
# df
# df2
df=(df/df2)*100
# df.to_dict()
# df.loc[lambda df: df['index'] == df.max()]
# d
# df.set_index(['index'])
df=df.sort_values('index',ascending=False)
df=df.to_dict()

# df.idxmax()
# df.values()
df
# for i in df:
#   for j,k in i:
#     print(j)
for i in df.values():
  # print(i)
  for j in i:
    # print(j)
    a=j
    break
  # brak
  print(a)
  print(df['index'][a])

Iran
41.86046511627907

In [149]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df=df.filter(items=["occupation","native-country","salary"])
df=df.drop(index="<=50K")
df=df.set_index(['native-country'])
df=df.loc["India"]
df["index"]=1
df=df.set_index(['occupation'])
df=df.groupby("occupation").sum()
df=df.sort_values('index',ascending=False)
df=df.to_dict()
for i in df.values():
  for j in i:
    print(j)
    break

Prof-specialty

In [183]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df["index"]=1
df=df.filter(items=["salary","education","index"])
df=df.groupby("education").sum()
# size2=df["index"]["Bachelors"] + df["index"]["Masters"] + df["index"]["Doctorate"]
df2["index"]=1
df2=df2.filter(items=["salary","education","index"])
df2=df2.drop(index="<=50K")
df2=df2.groupby("education").sum()
# print(size2)
# print(df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])
# print(((df2["index"]["Bachelors"] + df2["index"]["Masters"] + df2["index"]["Doctorate"])/size2)*100)
# df.to_dict()
# df
df2=df2.drop(index=["Bachelors","Doctorate","Masters"])
df=df.drop(index=["Bachelors","Doctorate","Masters"])
df=df.sum()
df2=df2.sum()
df.to_dict()
df2.to_dict()
a=(df2['index']/df['index'])*100
print(a)

17.3713601914639

In [226]:
df=pd.read_csv("adult.data.csv",index_col="salary")
df2=pd.read_csv("adult.data.csv",index_col="salary")
df=df.filter(items=["hours-per-week"])
df2=df2.filter(items=["hours-per-week"])
# df=df.min()
# df=df.to_dict()
df=df.drop(index='<=50K')
df2=df2.set_index('hours-per-week')
df2=df2.loc[1]
# df.loc[df.min()]
df=df.set_index('hours-per-week')
df=df.loc[1]
# df2
# d\f
len(df2)

20